@charset "IBM866";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

[class$="list"] { position: relative; }
[class$="list"] li { float: left; }
[class$="list"] li a { text-decoration: none; display: inline-block; transition: 0.7s; }

body { font-family: calibri; background: url(../img/bg.png); overflow: hidden; overflow-y: scroll; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; height: 600px; }
body:after { content: ""; top: 99px; background: linear-gradient(to bottom, #1d5a87 0%, rgba(255, 255, 255, 0) 100%); height: 80px; position: absolute; width: 100%; }

.wrap { width: 980px; margin: 0 auto; }

header { background: white; overflow: hidden; }
header .header { width: 960px; margin: auto; overflow: hidden; padding: 30px 0 20px; }
header .header .header__logo { float: left; display: inline-block; margin: 8px 40px 0 0; }
header .header .header__form { display: inline; }
header .header .header__form input { border: 1px solid #b8d5e8; font: 12pt arial; padding: 14px; color: #7598af; border-radius: 2px; border-right: none; /*input[placeholder] color: #f51 */ }
header .header .header__form:after { position: relative; content: ""; background: url(../img/icons/mag.png) no-repeat 50% 50% #27861b; padding: 15px 35px; left: -5px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; }
header .header .header__form:hover { cursor: pointer; }
header .header .header__user { float: right; display: inline-block; padding: 0; margin-top: 13px; }
header .header .header__user a.user { background: url(../img/icons/home-orange.png) no-repeat 0% 50%; color: #27861b; font-size: 13px; text-decoration: none; padding-left: 25px; transition: 0.3s; }
header .header .header__user a.user:hover { text-decoration: underline; color: #ff8532; }
header .header .header__user a.user:active { color: #57b64b; }
header .header .header__user a.user span { width: 0px; height: 0px; border-style: solid; border-width: 5px 5px 0 5px; border-color: #828e5f transparent transparent transparent; display: inline-block; margin: 0 6px; }

nav { width: 980px; margin: 0 auto; height: 80px; z-index: 1; position: relative; }
nav .nav__list { font-size: 16px; }
nav .nav__list li { float: left; }
nav .nav__list li a { padding: 20px 25px 10px 30px; font-size: 16px; font-weight: bold; color: #27861b; background: white; }
nav .nav__list li a:hover { background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 100%); color: white; }
nav .nav__list li a:active { background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.9) 100%); }
nav .nav__list li .nav__is-active { background: transparent; color: white; }
nav:before, nav:after { content: "Г"; float: left; background: white; width: 10000px; position: absolute; font-size: inherit; padding: 20px 0 10px; }
nav:before { left: -10000px; }
nav:after { padding-left: 20000px; }

article { background: transparent; position: relative; min-height: 700px; }

footer { color: white; font: 10px arial; }
footer .footer__top { background: url(../img/grass1.png) repeat-x 50% 100% #d9f0ff; border-top: 1px solid #b8d5e8; height: 107px; }
footer .footer__bottom { background: #583416; }
footer .footer__bottom .footer__bottom-content { width: 980px; margin: 0 auto; padding: 67px 0 27px 10px; }
footer .footer__bottom .footer__bottom-content .footer__logo-white { float: left; margin-right: 28px; }
footer .footer__bottom .footer__bottom-content .footer__list li { margin: 4px 0 0 22px; }
footer .footer__bottom .footer__bottom-content .footer__list li a { color: white; font: 12px arial; opacity: 0.5; }
footer .footer__bottom .footer__bottom-content .footer__list li a:hover { text-decoration: underline; }
footer .footer__bottom .footer__bottom-content .footer__list li:nth-of-type(5) { margin-left: 220px; margin-right: 5px; }
footer .footer__bottom .footer__bottom-content .footer__btn { margin: 0 40px 0 25px; display: inline-block; }
footer .footer__bottom .footer__bottom-content .footer__btn a { margin-top: 3px; }
footer .footer__bottom .footer__bottom-content .footer__btn a i { display: inline-block; width: 16px; height: 16px; margin-top: 3px; }
footer .footer__bottom .footer__bottom-content .footer__btn a i:hover { box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5); border-radius: 3px; }
footer .footer__bottom .footer__bottom-content .footer__btn a .footer__btn-vk { background: url(../img/icons/vk.png); }
footer .footer__bottom .footer__bottom-content .footer__btn a .footer__btn-lj { background: url(../img/icons/lj.png); }
footer .footer__bottom .footer__bottom-content .footer__btn a .footer__btn-facebook { background: url(../img/icons/facebook.png); }
footer .footer__bottom .footer__bottom-content .footer__btn a .footer__btn-twitter { background: url(../img/icons/twitter.png); }
footer .footer__bottom .footer__bottom-content .footer__copy { opacity: 0.5; margin-top: 32px; }
