@charset "IBM866";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

[class$="list"] { position: relative; }
[class$="list"] li { float: left; }
[class$="list"] li a { text-decoration: none; display: inline-block; transition: 0.3s; }

[class^="btn"] { background: #ff8532; color: white; border-radius: 4px; font: 16px Arial; text-shadow: 0 1px 0 #af3500; padding: 9px 17px 9px 17px; margin-left: 20px; transition: 0.4S; vertical-align: top; display: inline-block; cursor: pointer; }
[class^="btn"]:hover { background: #ffa542; }
[class^="btn"]:active { text-shadow: 5px 5px 5px #ff8532; }

h1 { color: #2c7aad; font: 21px calibri; }

i { display: inline-block; }

body { font-family: calibri; background: url(../img/bg.png); overflow-x: hidden; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; height: 600px; }
body:after { content: ""; top: 91px; background: linear-gradient(to bottom, #1d5a87 0%, rgba(255, 255, 255, 0) 100%); height: 80px; position: absolute; width: 100%; }

.wrap { width: 980px; margin: 0 auto; }

header { background: white; overflow: hidden; }
header .header { width: 960px; margin: auto; overflow: hidden; padding: 30px 0 20px; }
header .header .header__logo { float: left; display: inline-block; margin: 3px 40px 0 0; }
header .header .header__form { display: inline; }
header .header .header__form input { border: 1px solid #b8d5e8; font: 12px arial; padding: 12px; color: #7598ae; border-radius: 2px; border-right: none; width: 425px; /*input[placeholder] color: #f51 */ }
header .header .header__form .header__form-btn { position: relative; display: inline-block; background: url(../img/icons/mag.png) no-repeat 50% 50% #27861b; left: -5px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; height: 41px; width: 46px; transition: 0.3s; vertical-align: top; }
header .header .header__form .header__form-btn:hover { background: url(../img/icons/mag.png) no-repeat 50% 50% #47a63b; }
header .header .header__user { float: right; display: inline-block; padding: 0; margin-top: 10px; }
header .header .header__user a.user { background: url(../img/icons/home-orange.png) no-repeat 0% 50%; color: #27861b; font-size: 13px; text-decoration: none; padding-left: 25px; transition: 0.3s; }
header .header .header__user a.user:hover { text-decoration: underline; color: #ff8532; }
header .header .header__user a.user:active { color: #57b64b; }
header .header .header__user a.user span { width: 0px; height: 0px; border-style: solid; border-width: 5px 5px 0 5px; border-color: #828e5f transparent transparent transparent; display: inline-block; margin: 0 6px; }

nav { width: 980px; margin: 0 auto; height: 80px; z-index: 1; position: relative; }
nav .nav__list { font-size: 16px; }
nav .nav__list li { float: left; }
nav .nav__list li a { padding: 20px 25px 10px 30px; font-size: 16px; font-weight: bold; color: #27861b; background: white; }
nav .nav__list li a:hover { background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 100%); color: white; }
nav .nav__list li .is-active { background: transparent; color: white; }
nav:before, nav:after { content: "Г"; float: left; background: white; width: 10000px; position: absolute; font-size: inherit; padding: 20px 0 10px; }
nav:before { left: -10000px; }
nav:after { padding-left: 20000px; }

article { background: transparent; position: relative; }

footer { color: white; font: 10px arial; margin-top: -132px; }
footer .footer__top { background: url(../img/grass1.png) repeat-x 50% 100% #d9f0ff; border-top: 1px solid #b8d5e8; height: 107px; }
footer .footer__bottom { background: #583416; }
footer .footer__bottom .footer__bottom-content { width: 980px; margin: 0 auto; padding: 67px 0 27px 10px; }
footer .footer__bottom .footer__bottom-content .footer__logo-white { float: left; margin-right: 28px; }
footer .footer__bottom .footer__bottom-content .footer__list li { margin: 4px 0 0 22px; }
footer .footer__bottom .footer__bottom-content .footer__list li a { color: white; font: 12px arial; opacity: 0.5; }
footer .footer__bottom .footer__bottom-content .footer__list li a:hover { text-decoration: underline; }
footer .footer__bottom .footer__bottom-content .footer__list li:nth-of-type(5) { margin-left: 220px; margin-right: 5px; }
footer .footer__bottom .footer__bottom-content .social__list { margin: 0 40px 0 25px; }
footer .footer__bottom .footer__bottom-content .social__list li { margin-left: 2px; }
footer .footer__bottom .footer__bottom-content .social__list li a i { width: 16px; height: 16px; margin-top: 3px; }
footer .footer__bottom .footer__bottom-content .social__list li a i:hover { box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5); border-radius: 3px; }
footer .footer__bottom .footer__bottom-content .social__list li a .footer__btn-vk { background: url(../img/icons/vk.png); }
footer .footer__bottom .footer__bottom-content .social__list li a .footer__btn-lj { background: url(../img/icons/lj.png); }
footer .footer__bottom .footer__bottom-content .social__list li a .footer__btn-facebook { background: url(../img/icons/facebook.png); }
footer .footer__bottom .footer__bottom-content .social__list li a .footer__btn-twitter { background: url(../img/icons/twitter.png); }
footer .footer__bottom .footer__bottom-content .footer__copy { opacity: 0.5; margin-top: 32px; }

[class^="article__container"] { width: 930px; background: white; margin: 0 auto; min-height: 1000px; padding: 32px 25px; overflow: hidden; }

[class^="headline"] { padding-left: 5px; margin-bottom: 20px; }
[class^="headline"] h1 { padding: 0px 0px 30px 40px; background: url(../img/plant5.png) 1px 40px repeat-x; }

.user__photo { display: inline-block; box-shadow: 0 1px 2px rgba(178, 142, 105, 0.75); height: 41px; width: 41px; border: 2px solid white; margin-right: 12px; float: left; }
.user__photo:hover { box-shadow: 0 1px 5px rgba(178, 142, 105, 0.75); }
.user__photo img { max-width: 100%; }

.user__name, .mess__user-all { color: #27861b; font-size: 14px; }
.user__name:hover, .mess__user-all:hover { color: #ff8532; transition: 0.3s; text-decoration: none; }

.user__letters { color: #475f6f; text-decoration: none; transition: 0.3s; vertical-align: middle; }
.user__letters:hover { text-decoration: underline; color: #27861b; }

.user__unread { color: #ff8532; vertical-align: middle; }
.user__unread:hover { text-decoration: none; }

time { font: 11px calibri; color: #999999; }

.messages-text { font: 13px arial; color: #475f6f; }

article .article__container .headline { background: url(../img/icons/messages.png) 0px 0px no-repeat; }
article .mess__content { margin: 0 5px; }
article .mess__content .mess__content-search { background: #f8eadd; padding: 20px 13px; border: 1px solid #f3e2d3; border-top: none; box-shadow: 0px 1px 1px #e8d3bf; }
article .mess__content .mess__content-search .mess__search input { padding: 11px; box-shadow: inset 0 0 4px rgba(166, 97, 60, 0.75); width: 174px; }
article .mess__content .mess__content-messages { overflow: hidden; padding: 12px; border: 1px solid #f3e2d3; border-top: none; }
article .mess__content .mess__content-messages [class^="messages__"] { display: inline-block; }
article .mess__content .mess__content-messages .messages__user { float: left; width: 230px; font-size: 13px; }
article .mess__content .mess__content-messages .messages__user .env-green i { background: url(../img/icons/env-green.png) 0 0 no-repeat; height: 9px; width: 12px; transition: 0.3s; vertical-align: middle; }
article .mess__content .mess__content-messages .messages__user .env-green i:hover { box-shadow: 0 0 5px 1px #ff8532; }
article .mess__content .mess__content-messages .messages__user .bin-dark i { background: url(../img/icons/bin-dark.png) 0 0 no-repeat; height: 14px; width: 11px; vertical-align: middle; }
article .mess__content .mess__content-messages .messages__user .bin-dark i:hover { box-shadow: 0 0 5px 1px #ff8532; background: url(../img/icons/bin-dark.png) 0 0 no-repeat, #ff8532; }
article .mess__content .mess__content-messages .messages__user .btn__orange-small { padding: 6px 8px; display: inline-block; vertical-align: middle; margin-top: 2px; font-size: 13px; }
article .mess__content .mess__content-messages [class^="messages__sign"] { float: left; font-size: 20px; margin: 0 15px 0 5px; line-height: 13px; }
article .mess__content .mess__content-messages .messages__sign { color: #27861b; }
article .mess__content .mess__content-messages .messages__sign-answer { color: #ff8532; }
article .mess__content .mess__content-messages .messages-text { width: 630px; overflow: hidden; }

.mess__user, .mess__chat { display: inline-block; }

.mess__user { background: #f8eadd; float: left; width: 230px; }
.mess__user .mess__user-up, .mess__user .mess__user-down, .mess__user .mess__user-info { border: 1px solid #efe1c4; border-top: none; border-right: none; }
.mess__user .mess__user-up, .mess__user .mess__user-down { width: 230px; height: 45px; text-decoration: none; display: inline-block; transition: 0, 1s; vertical-align: bottom; }
.mess__user .mess__user-up { background: url(../img/icons/up.png) 50% 50% no-repeat; }
.mess__user .mess__user-up:hover { background: url(../img/icons/up.png) 50% 50% no-repeat #fef3e9; }
.mess__user .mess__user-down { background: url(../img/icons/down.png) 50% 50% no-repeat; box-shadow: 0px 1px 0px #e8d3bf; }
.mess__user .mess__user-down:hover { background: url(../img/icons/down.png) 50% 50% no-repeat #fef3e9; }
.mess__user .mess__user-info { padding: 24px 17px 0 17px; }
.mess__user .mess__user-info .user__photo { margin: 0 10px 8px 18px; }
.mess__user .mess__user-info div, .mess__user .mess__user-info ul { font: 11px arial; color: #475f6f; }
.mess__user .mess__user-info div { clear: left; margin-bottom: 10px; padding-left: 12px; }
.mess__user .mess__user-info ul li { transition: 0, 1s; position: relative; padding: 5px 0 5px 12px; }
.mess__user .mess__user-info ul li:hover { background: #fef3e9; }
.mess__user .mess__user-info ul li .user__letters { float: right; margin-right: 70px; }
.mess__user .mess__user-info ul li .user__unread { position: absolute; left: 135px; }
.mess__user .mess__user-all { background: white; font: 13px calibri; display: block; padding-top: 17px; }

.mess__chat { float: none; width: 70%; border: 1px solid #efe1c4; padding: 20px; }
.mess__chat .mess__chat-next { color: #ff8532; transition: 0, 1s; font: 13px calibri; display: block; text-align: right; margin-bottom: 20px; }
.mess__chat .mess__chat-next:hover { text-decoration: none; color: #27861b; }
.mess__chat .mess__chat-ask, .mess__chat .mess__chat-answer { display: inline-block; width: 560px; padding: 15px 15px 20px; margin-bottom: 15px; }
.mess__chat .mess__chat-ask div, .mess__chat .mess__chat-answer div { margin-top: 10px; }
.mess__chat .mess__chat-ask { float: left; border: 1px solid #efe1c4; }
.mess__chat .mess__chat-answer { background: #f8eadd; float: right; }
.mess__chat .btn-chat { float: right; margin: 5px 5px 0 0; }

.article__container-settings { background: transparent; padding-bottom: 100px; min-height: 500px; }

.headline-settings { background: url(../img/icons/set-home3.png) 0px 0px no-repeat; }
.headline-settings h1 { font-size: 25px; font-weight: bold; padding-top: 5px; }

.set__options { float: left; background: white; padding: 25px 35px 20px 25px; width: 625px; min-height: 700px; border: 1px solid #efe1c4; }
.set__options h2 { display: block; color: #27861b; font: 16px calibri; font-weight: bold; background: url(../img/icons/set.png) 0px 2px no-repeat; padding-left: 15px; line-height: 16px; }
.set__options [class^="set__options-"] { font: 13px arial; color: #485f6e; overflow: hidden; }
.set__options [class^="set__options-"]:nth-child(2n+1) { background: #f8eadd; }
.set__options [class^="set__options-"] span { float: left; padding: 15px 0 15px 20px; }
.set__options [class^="set__options-"] form { padding-left: 200px; vertical-align: top; }
.set__options .set__options-checkbox form label { width: 18px; height: 19px; display: block; position: relative; overflow: hidden; }
.set__options .set__options-checkbox form label span { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(../img/icons/checkbox3.png) no-repeat; cursor: pointer; }
.set__options .set__options-checkbox form label input[type="checkbox"]:checked + span { background-position: 0px -18px; }
.set__options .set__options-text form input { border: 1px solid #7598ae; border-radius: 2px; padding: 10px; color: #27861b; }
.set__options .set__options-textarea form textarea { border: 1px solid #7598ae; border-radius: 2px; padding: 10px; color: #27861b; }
.set__options h2.block2 { background: url(../img/icons/group.png) 0px 2px no-repeat; }
.set__options .set__options-role div { display: inline-block; border: 1px solid red; padding: 7px 30px; color: #ff8532; text-decoration: underline; cursor: pointer; }
.set__options .set__options-role div i { height: 16px; width: 16px; background: url(../img/icons/home-green.png) no-repeat; }

.row__right { width: 409px; min-height: 30px; padding: 5px 0; display: inline-block; vertical-align: middle; margin-left: 200px; }
