// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book",arial,sans-serif 

// common blocks
//заготовка под все страници
$green:#27861B
$orange:#FF8532 
[class$="list"] 
	position: relative
	li
		float: left
		a  
			text-decoration: none
			display: inline-block
			transition: 0.3s 
h1
	color: #2c7aad
	font: 21px calibri
	margin-left: 40px		


body
	font-family: calibri 
	background: url(../img/bg.png)// 100% 99px no-repeat  //фоновая картинка
	overflow-x: hidden
	//overflow-y: scroll
	//background-size: cover //ковер
	+cover
	height: 600px
	&:after  //полупрозрачный синий фон
		content: ""
		top: 99px
		background: linear-gradient(to bottom, rgba(29,90,135,1) 0%,rgba(255,255,255,0) 100%)
		height: 80px
		position: absolute
		width: 100%
.wrap
	width: 980px
	margin: 0 auto 
header
	background: #fff
	overflow: hidden
	.header
		width: 960px
		margin: auto 
		overflow: hidden
		padding: 30px 0 20px		
		.header__logo
			float: left
			display: inline-block 
			margin: 8px 40px 0 0
		.header__form
			display: inline
			input
				border: 1px solid #B8D5E8
				font: 12pt arial 
				padding: 14px 
				color: #7598AF 
				border-radius: 2px
				border-right: none
				/*input[placeholder]
					color: #f51*/
			.header__form-btn
				position: relative
				display: inline-block 
				background: url(../img/icons/mag.png) no-repeat 50% 50% $green
				padding: 19px
				left: -5px
				border-top-right-radius: 2px
				border-bottom-right-radius: 2px
				height: 49px
				width: 60px
				transition: 0.3s
				&:hover
					background: url(../img/icons/mag.png) no-repeat 50% 50% $green+#202020
		.header__user
			float: right
			display: inline-block
			padding: 0
			margin-top: 13px 
			a.user
				background: url(../img/icons/home-orange.png) no-repeat 0% 50%
				color: $green 
				font-size: 13px
				text-decoration: none
				padding-left: 25px
				transition: 0.3s
				&:hover
					text-decoration: underline
					color: $orange
				&:active
					color: $green+#303030					
				span         //триугольничек
					width: 0px
					height: 0px
					border-style: solid
					border-width: 5px 5px 0 5px
					border-color: #828E5F transparent transparent transparent
					display: inline-block
					margin: 0 6px 
nav
	width: 980px
	margin: 0 auto 
	height: 80px
	z-index: 1
	position: relative
	.nav__list
		font-size: 16px
		li
			float: left
			a  
				padding: 20px 25px 10px 30px
				font-size: 16px
				font-weight: bold
				color: $green
				background: #FFF 
				&:hover
					background: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0) 100%)
					color: #fff
				//&:active
					//background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.9) 100%)
			.is-active//для активной кнопки
				//a
				background: transparent
				color: #FFF 
					
	&:before, &:after   //белые заслонки к меню
		content: "Г"
		float: left
		background: #fff
		width: 10000px
		position: absolute
		font-size: inherit
		padding: 20px 0 10px
	&:before
		left: -10000px 
	&:after
		padding-left: 20000px
article
	background: transparent
	position: relative
	//min-height: 700px  //надо???
	.article__container
		width: 930px //padding 30 width=920+2*25
		background: #FFF 
		margin: 0 auto
		min-height: 1000px  
		padding: 32px 25px //width 980-50
footer
	color: #fff
	font: 10px arial
	margin-top: -132px 
	.footer__top
		background: url(../img/grass1.png) repeat-x 50% 100% #D9F0FF
		border-top: 1px solid #B8D5E8
		height: 107px
	.footer__bottom  
		background: #583416 
		.footer__bottom-content
			width: 980px
			margin: 0 auto
			padding: 67px 0 27px 10px
			.footer__logo-white
				float: left
				margin-right: 28px
				img
			.footer__list
				li
					margin: 4px 0 0 22px
					a
						color: #fff
						font: 12px arial
						opacity: 0.5 
						&:hover
							text-decoration: underline
					&:nth-of-type(5)
						margin-left: 220px
						margin-right: 5px	
			.social    //сделать списком и назвать social
				margin: 0 40px 0 25px 
				display: inline-block
				li
					display: inline-block
					float: left
					margin-left: 2px	
					a
						margin-top: 3px
						i
							display: inline-block
							width: 16px
							height: 16px
							margin-top: 3px
							&:hover
								box-shadow: 0 0 5px 1px rgba(255,255,255,0.5)
								border-radius: 3px 
						.footer__btn-vk
							background: url(../img/icons/vk.png)
						.footer__btn-lj
							background: url(../img/icons/lj.png)	 
						.footer__btn-facebook
							background: url(../img/icons/facebook.png)
						.footer__btn-twitter
							background: url(../img/icons/twitter.png)	
			.footer__copy
				opacity: 0.5
				margin-top: 32px 			